@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cyan: #22d3ee;
  --gray: #4b5563;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
}
