@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #22d3ee;
  --gray: #4b5563;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }

  .nav-link-sign-btn {
    @apply w-28 h-10;
  }

  .footer-link {
    @apply text-base text-secondary-mediumGray;
  }

  .ds-header-link {
    @apply flex gap-3 items-center pl-6 hover:text-primary-cyan p-2;
  }

  .ws-btn {
    @apply h-8 flex-1 border rounded-md flex
    justify-center items-center transition
    duration-200 ease-in bg-primary-cyan text-secondary-white
  hover:bg-primary-cerulean hover:border-primary-cyan;
  }
}
