@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #22d3ee;
  --gray: #4b5563;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@layer utilities {
  .active {
    @apply bg-primary-cerulean text-secondary-white;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .duration {
    @apply transition-all duration-200 ease-in;
  }

  .nav-link {
    @apply flex items-center p-3;
  }

  .header-nav .nav-link:last-child {
    @apply bg-primary-cyan h-10 rounded-3xl text-secondary-white;
  }

  .header-nav {
    @apply hidden lg:flex items-center gap-3;
  }

  .sidebar-toggle-icon {
    @apply cursor-pointer fill-primary-cyan hover:fill-primary-cerulean;
  }

  .sidebar {
    @apply flex flex-col fixed top-0 left-0 duration z-20 min-h-screen border-r w-[280px] bg-secondary-white;
  }

  .footer-link {
    @apply text-base text-secondary-mediumGray;
  }

  .ds-panel-content {
    @apply flex flex-col items-center justify-between gap-3 md:flex-row;
  }

  .ws-btn {
    @apply h-8 flex-1 border rounded-md flex
    justify-center items-center transition
    duration-200 ease-in bg-primary-cyan text-secondary-white
  hover:bg-primary-cerulean hover:border-primary-cyan;
  }
}
