.nav-link div {
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover div {
  animation-duration: 0.3s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    width: 0%;
  }

  100% {
    transform: scaleX(1);
  }
}
